<div class="container">
  <div class="row">
    <div style="background: white; display: block; max-width: 50%;">
      <animated-banner-component
        text="Example page that use animated-banner"
        font-size="15"
        height="300"
        animation="slide-in-from-left"
      ></animated-banner-component>
    </div>
    <hr>
    <div style="background: white; display: block; max-width: 25%;">
      <p>THIS IS ANIMATED BANNER HOST (and it limits the width)</p>
      <animated-banner-component
        text="Slide right!"
        font-size="30"
        color="green"
        loop="true"
        animation="slide-right"
      ></animated-banner-component>
    </div>
  </div>
</div>
